
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* reset css */

/* style common */
:root {
    --color-blue: rgb(5,108,182);
    --color-lightblue: #2F80ED;
    --color-yellow: #F2C94C;
    --color-gray: #666666;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto';
    color: #fff;
    font-size: 1.6rem;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding:0 1.2rem;
}

.info-full {
    background: var(--color-lightblue);
    padding: 40px 0;
}

/* HEADER */
.header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}


/* first header */
.first-header {
    background: var(--color-blue);
}

.header-info i {
    margin-right: 15px;
}
.f-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.fb a{
    color: #fff;
}
/* first header */

/* second header */
.menu-header {
    background-color: #fff;
}

.menu-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-menu {
    padding-top: 35px;
}
.right-menu ul{
    display: flex;
    justify-content: space-between;
}
.right-menu ul li a {
    display: inline-block;
    color: var(--color-gray);
    padding: 16px 25px;
    font-weight: 400;
}
/* second header */

/* NAV BAR */
#nav li a, .subnav li a{
    text-decoration: none;
}

#nav{
        display: flex;
}

#nav li{
    position: relative;
}

#nav li a{
    color: #666666;
}

#nav li a:hover{
    color: #056CB6;
}

#nav .subnav{
    display: none; 
    position: absolute;
    left: 0%;
    top: 100%;
    background-color: #056CB6;
    width: 200px;
    padding: 0;
}

#nav .subnav li{
    border-bottom: 1px solid #fff;
}

#nav .subnav li:last-child{
    border: none;
}

#nav .subnav a{
    color: #fff;
}

#nav .subnav a:hover{
    color: #fff;
}

#nav .subnav li:hover{
    background-color: #F2C94C;
}

#nav-bar img{
    width: 10%;
}

#nav li:hover .subnav{
    display: block;
}
/* END NAVBAR */
/* slider */
#slider{
    margin-top: 155px;
    position: relative;
}
/* slider */



/* body */

/* for about us */
.about-us {
    color: var(--color-gray);
}
.about-us-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.about-us-picture {
    width: 50%;
}
.about-us-info {
    width: 50%;
    padding: 0 40px;
}
.about-us-info h1{   
    color: var(--color-lightblue);
    margin-bottom: 20px;
    font-weight: 600;
}
.about-us-info p {
    margin-bottom: 27px;
}
.about-us-info ul {
    padding: 0;
}
.about-us-info ul li {
    margin-bottom: 18px;
}
.about-us-info ul li i {
    color: #F25252;
    margin-right: 10px;
}
.about-us-info button {
    border: none;
    color: white;
    padding: 10px 20px;
    background: var(--color-lightblue);
    font-weight: 500;
    border-radius: 5px;
    margin: 20px 0 0 35px;
}

/* for about us */

/* for service */
.service {
    background: #C4C4C4;
    text-align: center;
}
.service-top {
    display: inline-block;
    width: 53%;
    margin-bottom: 10px;
}
.service-top h1 {
    color: var(--color-lightblue);
    padding: 38px 0 14px 0;
}
.service-top p{
    color: var(--color-gray);
    font-size: 13px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
}
.service-image a {
    display: block;
}
.service-item {
    width: 31.3%;
    margin: 24px 24px 24px 0;
    box-shadow: 1px 1px 7px rgb(0, 0, 0,0.1);
    background: white;
    text-align: center;
}
.service-item img {
    max-width: 100%;
    display: inline-block;
    text-align: center;
    margin: 35px 0;
}
.service-list .service-item .service-image {
    position: relative;
}
.service-info {
    display: inline-block;
    margin-bottom: 30px;
    width: 80%;
}
.service-info h3 {
    color: black;
    margin-bottom: 25px;
}
.service-info p {
    color: var(--color-gray);
    font-size: 14px;
}

/* for service */



/* body */


/* footer */
.infomation {
    display: flex;
}

.infomation a {
    color: #fff;
}

.thoi-gian hr,.thong-tin hr,.lien-he hr {
    color: yellow;
    margin-bottom: 20px;
    width: 50%;
    
}
/* for class logo */
.dang-ky{
    width: 34%;
    margin-right: 40px;
}
.lien-he{
    width: 32.66667%
}
.logo a {
    display: inline-block;
    margin-bottom: 28px;
}
.dang-ky p {
    margin-bottom: 24px;
}
.dang-ky button {
    margin-top: 30px;
    padding: 12px 22px;
    background: var(--color-yellow);
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}
/* for class logo */

/* for thongtin & thoi gian */
.thong-tin, .thoi-gian {
    width: 18.666666%;
}
.thong-tin ul li{
    margin-bottom: 16px;
}
.thong-tin h3, .thoi-gian h3 {
    margin-bottom: 28px;
}
.thoi-gian ul li {
    margin-bottom: 30px;
}
.thong-tin ul, .thoi-gian ul, .lien-he ul {
    padding: 0; 
}

/* for thongtin & thoi gian */

/* for lienhe */
.media ul {
    display: flex;
}
.media ul li i {
    display: inline-block;
    padding: 8px;
}
.media {
    color: #fff;
}
.lien-he h3 {
    margin-bottom: 28px;
}
.lien-he ul li {
    margin-bottom: 16px;
}
/* for lienhe */

.last-footer {
    color: #fff;
    background: var(--color-yellow);
    text-align: center;
    padding: 5px 0 15px 0;
}

/* footer */
